.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
/dotnet_examples/CSharp/obj/
/dotnet_examples/FSharp/obj/
/dotnet_examples/CSharp/bin/
/dotnet_examples/FSharp/bin/